.center{

    text-align: center;
    margin: 0 auto;
}

.align-left{

    text-align: left!important;

}

#login-col {

    padding: 50px;
    padding-top: 65px;

}

#main-col {

    padding: 50px;
}

#main-col input{
    width: 300px;

}

nav {

    background-color: #cad2d3;
    margin-bottom: 20px;

}

nav a {

    color: #cad2d3 !important;
}

nav a.active {

    color: white !important;
}

.navbar-brand {
    width: 100px;
    float:left;
}

#collapse-navbar li{

    width: 100px;
}

#collapse-navbar {

    width: 400px;
    float:left;
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;

}

#yt_video_form_wrap{

    width: 300px;

}

#playlist div.video_row {

    display:flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    /*width: 300px;*/
    padding: 10px;
    background-color: #8fcafe;
    color:#2a62bc;
}

#playlist div.video_row:nth-child(even){

    background-color: #2a62bc!important;
    color: white!important;
}


#playlist .video_row span {
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-width: 40px;*/
    /*max-width: 350px;*/
}

#row_title{
    background-color: white!important;
    color: #2a62bc!important;
    overflow: visible!important; /*optional*/

}

#playlist .video_row span.title{

    min-width: 250px;
}

#playlist .video_row span:first-child {

    min-width: 28px;
    color:orangered !important;
}
.count-span{
    width: 120px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;

}

.down, .up {
    height: 25px;
    width: 26px;
    cursor: pointer;

}

#logo{

    width: 23px;
    vertical-align: middle;
}